{% extends "layout.html" %} {% block about %}active-link{% endblock about %} {% block content %}
<div class="container" style="padding-top: 30px;">
    <h1>About page</h1>
    <div class="about-text">
        <p>This project is a very simple book recommendation system which, based on entered book name, recommends you similar books you might also like.</p>
        <p>It is definitely nothing special nor complex, it is rather for demonstrative purpose.</p>
        <p>Dataset used:
            <a href="http://www2.informatik.uni-freiburg.de/~cziegler/BX/">http://www2.informatik.uni-freiburg.de/~cziegler/BX/</a>
        </p>
        <p>Tech stack: Python - Flask + WTForms, Heroku</p>
        <p>Author:
            <a href="romanzdk.com">romanzdk.com</a>, 2020
        </p>
    </div>


</div>
{% endblock content %}