{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock head %} {% block about %} active {% endblock about %} {% block content %}
<div class="container" style="padding-top: 30px;">
    <h1>It works</h1>

</div>
{% endblock content %}