{% extends "layout.html" %} {% block recommend %}active-link{% endblock recommend %} {% block content %}
<div class="container" style="padding-top: 30px;">
    <h1>Please enter a book name</h1>
    <div>
        <form method="POST" action="">
            {{ form.book.label }}
            <p>{{ form.book(size=20, placeholder='Harry Potter') }}</p>
            <p>{{ form.submit(class='btn submit-btn') }}</p>
        </form>
    </div>
    <hr> {% with author = get_flashed_messages(category_filter=['author']) %} {% if author %}
    <h2>Recommended books:</h2>

    <h3>By author:</h3>
    <ul>
        {% for book in author %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% with year = get_flashed_messages(category_filter=['year']) %} {% if year %}

    <h3>By year:</h3>
    <ul>
        {% for book in year %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% with no_book = get_flashed_messages(category_filter=['no_book']) %} {% if no_book %}
    <p>We did not find any corresponding books :(</p>
    {% endif %} {% endwith %}

</div>
{% endblock content %}