{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock head %} {% block about %} active {% endblock about %} {% block content %}
<div class="container" style="padding-top: 30px;">
    <h1>Please enter book</h1>
    <div>
        <form method="POST" action="">
            {{ form.book.label }}
            <p>{{ form.book(size=20) }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <hr> {% with author = get_flashed_messages(category_filter=['author']) %} {% if author %}
    <h2>Recommended books:</h2>

    <h3>By author:</h3>
    <ul>
        {% for book in author %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% with year = get_flashed_messages(category_filter=['year']) %} {% if year %}

    <h3>By year:</h3>
    <ul>
        {% for book in year %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

</div>
{% endblock content %}