{% extends "layout.html" %} {% block recommend %}active-link{% endblock recommend %} {% block content %}
<div class="container" style="padding-top: 30px;">
    <h1>Please enter a book name</h1>
    <div>
        <form method="POST" action="">
            {{ form.book.label }}
            <p>{{ form.book(size=20, placeholder='Harry Potter') }}</p>
            <p>{{ form.submit(class='btn submit-btn') }}</p>
        </form>
    </div>
    <hr> {% with wanted_book = get_flashed_messages(category_filter=['wanted_book']) %} {% if wanted_book %}
    <h2>Recommended books for <i>{{ wanted_book[0] }}</i>:</h2>
    {% endif %} {% endwith %} {% with recommendation = get_flashed_messages(category_filter=['recommendation']) %} {% if recommendation %}
    <h3>Books users also liked:</h3>
    <ul>
        {% for book in recommendation %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% with no_book = get_flashed_messages(category_filter=['no_book']) %} {% if no_book %}
    <p>We are sorry, we did not find any corresponding books :(</p>
    {% endif %} {% endwith %}

</div>
{% endblock content %}